html{
    margin: 0;
    padding: 0;
    height: 100vh;
    }

.seite-1-background{
    background-image: linear-gradient(to bottom right, orange, grey, orange);
}
nav{
    position: fixed;
}

nav li{
    display: inline;
    list-style-type: none;
}

a{
   color: white;
   background-color: black; 
}

a:hover{
    color: rgb(255, 153, 0);
}

nav a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

h1{
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
}

.seite-1 {
    display: flex;
    justify-content: space-around;
}

h2{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
}

img{
    border: 5px solid grey;
}

.seite-1 img{
    width: 300px;
    height: 400px;
    }

.stadt-ul{
    list-style-type: none;
    font-weight: bold;
}

.stadt-ul li{
    margin: 10px;
    font-size: 20px;
}

.seite-1 section a{
    margin-top: 50px;
    text-decoration: none;
    padding: 10px;
    
}

.erfurt, .jena, .weimar{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.nebenseiten  {
    padding:0 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
} 

.nebenseiten-background{
    background-image: linear-gradient(to right,orange, grey, orange);
}

.nebenseiten h2{
    text-align: left;
    margin-top: 140px;
}

.h2-rechts-erfurt, .h2-rechts-weimar, .h2-rechts-jena{
    text-align: right !important; 
    margin-bottom: 100px;
}
.h2-rechts-erfurt{
     margin-right: 20%;
   
}

.h2-rechts-jena{
   margin-right: 13%;
}

.h2-rechts-weimar{
    margin-right: 4%; 
}

.nebenseiten img{
    width: 500px;
    height: 500px;
   /*  border-radius: 50%; */
}    

.ausflugsziel {
    display: flex;
    margin: 50px 0;
}

p{
    width: 60vw;
    margin: 50px;
    font-size: 30px;
}

.zurück-zur-hauptseite{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
   
}

div{
    margin-top: 150px;
}





